/* Greg */
.header-contacts__title {
	/* For mobile need */
}

.contact-form {
	display: flex;
	flex-direction: column;
}

	.contact-form .contact-form__input {
		margin: 0 0 1em 0;
	}

	.contact-form .input-style {
		border: 1px solid #000000;
	}
	.contact-form .input-red {
		border: 1px solid #c51349;
	  background-color : #f8bbd0;
	}

	.contact-form__area {
		margin: 0 0 1em 0;
	}

	.contact-form__button {
		display: flex;
		justify-content: center;
		margin: 0 0 1em 0;
	}

.contacts_text {
	text-align: justify;
}

.contact-personal {
	/*width: 200px;*/
}
.my-photo {
	margin: 0 0 1em 0;
}
.contact-image {
	border-radius: 2%;
}

.my-photo-small {
	display: none;
	justify-content: center;
}
	.contact-image__small {
		border-radius: 50%;
}

.social-icon__item {
	width: 50px;
	height: 50px;
	margin: 0 25px;
	margin-bottom: -0.9em;
}

.contacts-items {
	display: flex;
	justify-content: center;
}
.social-icons {
	display: flex;
	flex-direction: row;
	margin-bottom: 2.2em;
}
.social-icon__item_fb {
	background-image: url(../../images/icons/facebook.svg);
}
.social-icon__item_tlgrm {
	background-image: url(../../images/icons/telegram_logo.svg);
}
.social-icon__item_whtsp {
	background-image: url(../../images/icons/whatsapp.svg);
}
/*.contacts-area {
	display: flex;
	flex-direction: column-reverse;
}*/

/*mobile*/

@media screen and (max-width: 960px) {
  .header-contacts__title {
		display: flex;
		justify-content: center;
	}

  .my-photo-small {
		display: flex;
		justify-content: center;
		margin-bottom: 2em;
	}

  .my-photo {
  		display: none;
			margin-bottom: ;
  }
	.social-icons {
	    margin-bottom: 1.5em;
	}

  .contact-personal__content {
  	display: flex;
		flex-direction: column-reverse;
  	justify-content: flex-end;
  }
  .contact-personal__title {
  	margin: 0 auto;
  }
}


@media screen and (min-width: 737px) {
/*	 .header-contacts__title {
		display: flex;
		justify-content: center;
*/




}
